body {
  font-family: $font-graphik;

  margin: 0 auto;
  overflow-x: hidden;
  background: $background-color-dark;
}

.h1 {
  font-weight: $font-bold;
  font-style: normal;
  font-size: 7.4rem;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.2px;
  @include animation(moveInLeft, 1.5s, ease-in-out);

  @include responsive(tablet) {
    font-size: 5.2rem;
    line-height: 44px;
  }
  @include responsive(phone) {
    font-size: 4.2rem;
    line-height: 44px;
  }
}

.h2 {
  font-size: 4.8rem;
  font-weight: $font-regular;
  line-height: 55px;
  @include responsive(phone) {
    font-size: 4rem;
  }
}
.h3 {
  font-size: 2rem;
  font-weight: $font-bold;
  line-height: 28px;
  letter-spacing: 0.1px;
}
.h4 {
  font-size: 2.8rem;
  font-weight: $font-regular;
  line-height: 40px;
  @include responsive(tablet) {
    font-size: 1.8rem;
  }
}
.h5 {
  font-size: 1.6rem;
  font-weight: $font-regular;
  line-height: 23px;
  letter-spacing: 0.1px;
}

.paragraph__hero {
  margin-top: 1.7rem;

  font-style: normal;
  font-weight: $font-regular;
  font-size: 2.8rem;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2px;
  @include responsive(tablet) {
    font-size: 2.5rem;
  }
}
.paragraph {
  font-size: 1.8rem;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-weight: $font-regular;
}
.link {
  font-size: 1.5rem;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-weight: $font-regular;
}

.card__list {
  font-weight: $font-regular;
  font-size: 1.5rem;
  line-height: 28px;
  letter-spacing: 0.2px;
}
