/* ======== margin Top============ */
.mt-10 {
  margin-top: 10rem;
}
.mt-7-6 {
  margin-top: 7.6rem;
}
/* ======== margin buttom============ */
.mb-6 {
  margin-bottom: 6rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-1-76 {
  margin-bottom: 1.762rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
/* ======== margin buttom============ */
.ml-3 {
  margin-left: 3rem;
}
/* ======== Padding buttom============ */
.pb-5 {
  padding-bottom: 5rem;
}
/* ======== Z-index============ */

/* ======== Font and typography============ */
.text-bold {
  font-weight: $font-bold;
}
