#home {
  height: 100vh;
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(9, 151, 255, 0.56) 100%
    ),
    url(../../assets/img/hero-png.png);

  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);

  @include responsive(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);
    height: 90vh;
  }
  @include responsive(tablet) {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);
    height: 90vh;
  }

  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $light-text-color;
    margin: 0 auto;
    &__content {
      padding: 10rem 5rem 0;

      @include responsive(laptop) {
        padding: 2.5rem 5rem 0;
      }
      @include responsive(tab-land) {
        padding: 0;
      }
      @include responsive(tab-port) {
        padding: 4rem 2rem 0;
      }
      @include responsive(tablet) {
        padding: 0 4rem;
      }
      @include responsive(phone) {
        padding: 2rem;
      }
      text-align: center;

      &__text {
        max-width: 826px;
      }
      h1 {
        padding: 2rem 2rem 0;
        @include responsive(phone) {
          padding: 2rem;
        }
      }
    }
  }
}
#scrollUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: $color-primary;
  border: none;
  outline: none;
  box-shadow: 0 1px 2px $color-secondary-1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  @include responsive(phone) {
    width: 25px;
    height: 25px;
    font-size: 0.2rem;
  }
}
/*==================Sticky  Menu====================*/
.sticky {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 5000;
  box-shadow: 0 10px 30px #e6e6e6;
  color: $color-primary !important;
  padding: 1rem 4rem;
  @include responsive(tablet) {
    padding: 1rem 4rem;
  }
  @include responsive(tab-land) {
    padding: 1rem 4rem;
  }
  transition: 0.3s;
  a {
    color: $color-primary;
    &:hover {
      opacity: 0.8;
    }
  }

  .nav__item {
    a {
      color: $color-primary !important;
    }
  }
  .btn-nav {
    background: $color-primary;
    color: #fff;
  }
}
