/* ================ About====================*/

.about {
  padding-top: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  color: $light-text-color;

  &__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    max-width: 869px;
    transition: 0.3s ease-in-out;
    gap: 50px;
    margin: 8rem auto 2rem;
    .about__itembox-item__icon {
      transition: 0.3s ease-in-out;
      &:hover {
        transform: rotate(20deg);
      }
    }
  }
  &__video {
    border-radius: 40px;
    &__content {
      width: 65%;
      height: auto;
      border-radius: 20px;
    }
  }
}
/* ================ Product====================*/
.product {
  color: $light-text-color;
  padding: 13rem 28rem;

  @include responsive(tab-port) {
    padding: 5rem 2rem;
    text-align: center;
  }
  @include responsive(tab-land) {
    padding: 5rem 5rem;
  }
  @include responsive(laptop) {
    padding: 5rem 4rem;
  }
  @include responsive(tablet) {
    padding: 5rem 3rem;
    text-align: center;
  }
  @include responsive(phone) {
    padding: 5rem 0rem;
    text-align: center;
    img {
      max-width: 70%;
    }
  }
  .product__image {
    margin: auto;

    @include responsive(tab-port) {
      margin-top: 10rem;
    }
    @include responsive(tablet) {
      padding: 0;
      margin-top: 2rem;
    }
    @include responsive(phone) {
      padding: 0;
      margin-top: 2rem;
    }
  }
  &__2 {
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
      grid-template-rows: 1fr 1fr;
      gap: 50px 50px;
      @include responsive(tablet) {
        gap: 5px 5px;
      }
      grid-template-areas:
        "image text "
        "image form ";
      @include responsive(tablet) {
        grid-template-areas:
          "text"
          "image"
          "form";
      }
      .image {
        grid-area: image;
        margin: auto;
      }
      .text {
        grid-area: text;
      }
      .form {
        grid-area: form;
        margin-top: 2rem;
        @include responsive(laptop) {
        }
        align-items: center;

        ::placeholder {
          font-size: 2rem;
        }
        .btn-subscribe {
          text-align: center;

          @include responsive(tablet) {
          }

          @include responsive(tab-port) {
            width: 100%;
            margin-right: 0;
          }

          @include responsive(phone) {
            width: 70%;
          }
        }
      }
    }
  }
  .brand {
    text-align: center;
    &__text {
      max-width: 552px;

      margin: 0 auto;
    }
    &__icon {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      grid-template-rows: 1fr 1fr;
      gap: 20px;
      justify-content: center;
      img {
        padding: 1rem;
        border: 0.1px solid #efefef;
        border-radius: 8px;
        @include responsive(tablet) {
          width: 100%;
          gap: 10px;
          place-items: center;
        }
      }
    }
  }
}

/* ================ Testimonial ====================*/
.testimonial {
  text-align: center;
  color: $light-text-color;
  padding: 3rem;
  &__client {
    max-width: 987px;
    margin: 8rem auto 8rem;

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 210px;
      margin: 5rem auto 0;
      height: 55px;
    }
  }
}
/* ================ Testimonial  ====================*/

/* ================ Pricing ====================*/
.pricing {
  text-align: center;
  color: $light-text-color;
  padding: 5rem;
  @include responsive(phone) {
    padding: 1rem;
  }

  .container {
    display: grid;
    max-width: 1120px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    .pricing__card {
      background: $background-color-light;
      color: $text-color;
      border: 1px solid #dedede;
      box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      transition: 0.3s ease-in-out;
      max-width: 335px;
      margin: 0 auto;
      padding: 3rem;
      &:hover {
        background: $color-primary;
        color: $light-text-color;
        border: 1px solid $color-primary;
        z-index: 1;
        transform: scale(1.05);
      }

      &:hover .btn-card {
        background: $light-text-color;
        color: $color-primary;
        transform: scale(0.95);
      }
      &__price {
        max-width: 170px;
        margin: 2rem auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}

/* ================ Pricing====================*/
/* ================ Contact ====================*/
.contact {
  text-align: center;
  color: $light-text-color;
  padding: 5rem;
  @include responsive(phone) {
    padding: 1rem;
  }
  &__container {
    max-width: 1228px;
    margin-left: auto;
    margin-right: auto;
  }
  &__info {
    border-radius: 10px;
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0 2rem;
    }
    &__map {
      overflow-x: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0;
      border-radius: 20px;
      iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }
  }

  .contact__info__social {
    display: flex;
    justify-content: space-around;
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
  }
}
